:host {
  font-size: 0.85rem;
}

.employer-photo {
  width: 100px;
  height: 128px;
  object-fit: cover;
}

.sub-field-text {
  font-size: 0.75rem;
  color: #666;
  margin-top: 4px;
}

th{
  background-color: #cfe2ff;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}