<div class="department-container mat-elevation-z4">

  <div class="header fade-in">
    <h2><mat-icon>business</mat-icon> Departments</h2>
    <button mat-raised-button class="submit-btn"
      (click)="addDepartment('add', null); departmentForm.reset(); isEditMode=false;">
      <mat-icon>add_circle</mat-icon>
      Add Department
    </button>
  </div>

  <mat-form-field appearance="outline" class="search-field fade-in">
    <mat-label>Search Departments</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Type to search..." />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <div class="table-container mat-elevation-z2 fade-in">

    <div *ngIf="dataSource?.data?.length === 0" class="no-data">
      <mat-icon>folder_off</mat-icon>
      <p>No departments found</p>
    </div>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z1">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Department</th>
        <td mat-cell *matCellDef="let element" [matTooltip]="element.name">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Details</th>
        <td mat-cell *matCellDef="let element" [matTooltip]="element.details">{{ element.details }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="actions-header">Actions</th>
        <td mat-cell *matCellDef="let element" class="action-buttons">
          <button class="icon-btn view" (click)="addDepartment('view', element)" matTooltip="View Details">
            <mat-icon>visibility</mat-icon>
          </button>
          <button class="icon-btn edit" (click)="addDepartment('edit', element)" matTooltip="Edit Department">
            <mat-icon>edit</mat-icon>
          </button>
          <button class="icon-btn delete" (click)="deleteDepartment(element)" matTooltip="Delete Department">
            <mat-icon>delete_forever</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="row-hover"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>