<p-table
  #dt
  [value]="filteredAndSortedData"
  [loading]="loading"
  [paginator]="showPagination && paginator"
  [rows]="rows"
  [rowsPerPageOptions]="rowsPerPageOptions"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [showGridlines]="showGridlines"
  [stripedRows]="stripedRows"
  [resizableColumns]="resizableColumns"
  [reorderableColumns]="reorderableColumns"
  [tableStyle]="tableStyle"
  [scrollable]="scrollable"
  [scrollHeight]="scrollHeight"
  [sortMode]="sortMode"
  [sortField]="internalSortField"
  [sortOrder]="internalSortOrder"
  selectionMode="single"
  [(selection)]="selectedRow"
  (onRowSelect)="onRowSelect($event)"
  (onRowUnselect)="onRowUnselect($event)"
  responsiveLayout="scroll"
>
  <ng-template #caption>
    <div class="flex flex-wrap justify-content-between align-items-center">
      <div
        class="flex align-items-center"
        *ngIf="
          searchable && globalFilterFields && globalFilterFields.length > 0
        "
      >
        <p-iconField iconPosition="left">
          <p-inputIcon>
            <i class="pi pi-search"></i>
          </p-inputIcon>
          <input
            pInputText
            type="text"
            [(ngModel)]="searchTerm"
            (input)="onSearch()"
            placeholder="Search..."
            aria-label="Search table"
          />
        </p-iconField>
      </div>
    </div>
  </ng-template>

  <ng-template #header>
    <tr>
      <th
        *ngFor="let col of filteredColumns; trackBy: trackByColumnKey"
        [style.width]="getColumnWidth(col)"
        [pSortableColumn]="isColumnSortable(col) ? col.key : undefined"
        [ngClass]="col.class"
      >
        <div class="flex align-items-center">
          {{ col.label }}
          <p-sortIcon *ngIf="isColumnSortable(col)" [field]="col.key" />
        </div>
      </th>
    </tr>
  </ng-template>

  <ng-template #body let-rowData>
    <tr
      [pSelectableRow]="rowData"
      [ngClass]="getRowClass ? getRowClass(rowData) : ''"
    >
      <td
        *ngFor="let col of filteredColumns; trackBy: trackByColumnKey"
        [ngClass]="getCellClass(getCellValue(rowData, col), rowData, col)"
        [style.width]="getColumnWidth(col)"
      >
        <ng-container *ngIf="col.renderComponent">
          <ng-container
            *ngComponentOutlet="
              col.renderComponent;
              inputs: getRenderComponentInputs(col, rowData);
              injector: injector
            "
          >
          </ng-container>
        </ng-container>

        <ng-container
          *ngIf="
            !col.renderComponent &&
            col.type === 'action' &&
            col.actions &&
            col.actions.length > 0
          "
        >
          <div class="flex justify-content-center align-items-center">
            <ng-container
              *ngFor="let action of col.actions; trackBy: trackByAction"
            >
              <p-button
                *ngIf="!action.component"
                [label]="action.label"
                [icon]="action.icon"
                [severity]="action.color || 'secondary'"
                (onClick)="onCustomActionClick(action, rowData)"
                styleClass="mr-1 p-button-sm"
                [outlined]="true"
              ></p-button>

              <span *ngIf="action.component" class="mr-1">
                <ng-container
                  *ngComponentOutlet="
                    action.component;
                    inputs: getActionComponentInputs(action, rowData);
                    injector: injector
                  "
                >
                </ng-container>
              </span>
            </ng-container>
          </div>
        </ng-container>

        <ng-container *ngIf="!col.renderComponent && col.type !== 'action'">
          <ng-container [ngSwitch]="col.type">
            <ng-container *ngSwitchCase="'link'">
              <a
                *ngIf="col.linkHref && col.linkText"
                [href]="col.linkHref(rowData)"
                target="_blank"
              >
                {{ col.linkText(rowData) }}
              </a>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <span
                [innerHTML]="
                  getFormattedValue(getCellValue(rowData, col), rowData, col)
                "
              ></span>
            </ng-container>
          </ng-container>
        </ng-container>
      </td>
    </tr>
  </ng-template>

  <ng-template #emptymessage>
    <tr>
      <td [attr.colspan]="filteredColumns.length" class="text-center">
        <div class="flex flex-column align-items-center py-5">
          <i
            class="pi pi-search"
            style="font-size: 2rem; margin-bottom: 1rem"
          ></i>
          <p>No records found</p>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
