<div class="ilogi-file-upload" [class.disabled]="disabled">

  <!-- Display Mode -->
<div *ngIf="selectedFileName; else uploadMode" class="file-display">
  <span class="filename" [title]="selectedFileName">
    {{ selectedFileName }}
  </span>

  <button
    *ngIf="fileUrl"
    type="button"
    class="preview-btn"
    title="Preview File"
    (click)="previewFile()"
    [disabled]="disabled"
    aria-label="Preview file"
  >
    <mat-icon>visibility</mat-icon>
  </button>

  <button
    type="button"
    class="remove-btn"
    (click)="clearFile()"
    [disabled]="disabled"
    aria-label="Remove file"
  >
    ✕
  </button>
</div>


  <!-- Upload Mode -->
<ng-template #uploadMode>
  <div class="upload-area">
    <input
      type="file"
      #fileInput
      [accept]="accept"
      (change)="onFileSelected($event)"
      class="hidden-input"
      [disabled]="disabled"
    />

    <div class="file-input-wrapper">
      <div class="label-wrapper">
        <span class="placeholder-text">{{ label || 'Select file' }}</span>
        <span *ngIf="mandatory" class="mandatory-star">*</span>
      </div>
      <button
        type="button"
        class="browse-btn"
        (click)="onButtonClick()"
        [disabled]="disabled"
      >
        Browse
      </button>
    </div>

    <div *ngIf="error" class="error-msg">
      {{ error }}
    </div>
  </div>
</ng-template>

</div>