

<div class="login-container">
  <div class="card">
    <h2 class="title">Welcome Back</h2>
    <p class="subtitle">Please sign in to continue</p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">

      <app-ilogi-input
        fieldId="user_name"
        fieldLabel="User Name"
        [mandatory]="true"
        formControlName="user_name"
        type="text"
        placeholder="Enter your user name"
      ></app-ilogi-input>

      <app-ilogi-input
        fieldId="password"
        fieldLabel="Password"
        [mandatory]="true"
        formControlName="password"
        type="text"
        placeholder="Enter your password"
      ></app-ilogi-input>

      <button
        type="submit"
        class="btn-submit"
        [disabled]="!loginForm.valid"
      >
        Login
      </button>
      <span class="text-center small mt-2">New User? <a href="/auth/registration">Register here</a></span>

    </form>
  </div>
</div>