:host ::ng-deep .p-floatlabel {
  font-size: 0.85rem; 
  margin-bottom: 0.5rem; 
  background-color: transparent;

}

:host ::ng-deep .p-floatlabel input {
  height: 32px;
  width: 200px;
  padding: 4px 8px;
  font-size: 0.8rem; 
  background-color: #fff;
  color: #3b3b3b;
  border: 1px solid #b8b8b8
}

:host ::ng-deep .p-floatlabel label {
  color: #a1a1a1; 
  font-size: 0.75rem; 
}

:host ::ng-deep .p-floatlabel input::placeholder {
  font-size: 0.75rem;
  color: #999;
  font-weight: 500;
}

:host ::ng-deep .p-floatlabel input:focus{
  border: 1px solid #00c3ff
}
:host ::ng-deep .p-floatlabel input:focus ~ label,
:host ::ng-deep .p-floatlabel input.p-filled ~ label {
  background-color: white;
  color: #00c3ff;
  padding: 0 4px; 
}