<p-confirmDialog #confirmDialog styleClass="custom-confirm-dialog" [dismissableMask]="true" [closable]="false"
  [draggable]="false" [baseZIndex]="10000">
</p-confirmDialog>
<div class="admin-services-container">
  <div class="header">
    <h1 class="page-title">Services</h1>
    <div class="actions">
      <app-ilogi-input matInput class="search-box" placeholder="🔍 Search by Service Name" (keyup)="applyFilter($event)">
      </app-ilogi-input>
    <button color="accent" class="submit-btn" mat-raised-button (click)="openAddServiceDialog()">
      <mat-icon>add</mat-icon> <span>Add New Service</span>
    </button>
  </div>
</div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 custom-table">
    <ng-container matColumnDef="sno">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element; let i = index">
        {{ i + 1 }}
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Service Name</th>
      <td mat-cell *matCellDef="let element" matTooltip="{{element.name}}">
        {{ element.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="department">
      <th mat-header-cell *matHeaderCellDef>Department</th>
      <td mat-cell *matCellDef="let element" matTooltip="{{element.department_name}}">
        {{ element.department_name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="noc_type">
      <th mat-header-cell *matHeaderCellDef>NOC Type</th>
      <td mat-cell *matCellDef="let element" matTooltip="{{element.noc_type}}">
        {{ element.noc_type }}
      </td>
    </ng-container>


    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="center-header">Actions</th>
      <td mat-cell *matCellDef="let element" class="center-cell">
        <button mat-icon-button [matMenuTriggerFor]="mainMenu" matTooltip="More Actions">
          <mat-icon>more_vert</mat-icon>
        </button>

     <mat-menu #mainMenu="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="serviceMenu">
            <mat-icon>build_circle</mat-icon> Service Creation Form
          </button>
          <button mat-menu-item [matMenuTriggerFor]="questionnaireMenu">
            <mat-icon>assignment</mat-icon> Service Questionnaires
          </button>
          <button mat-menu-item [matMenuTriggerFor]="renewalCycleMenu">
            <mat-icon>autorenew</mat-icon> Renewal Cycle
          </button>
          <button mat-menu-item [matMenuTriggerFor]="feeRuleMenu">
            <mat-icon>payments</mat-icon> Service Fee Rule
          </button>
          <button mat-menu-item [matMenuTriggerFor]="renewalFeeMenu">
            <mat-icon>receipt_long</mat-icon> Renewal Fee Rule
          </button>
          <button mat-menu-item [matMenuTriggerFor]="approvalMenu">
            <mat-icon>rule</mat-icon> Approval Flow
          </button>
          <button mat-menu-item [matMenuTriggerFor]="certificateMenu">
            <mat-icon>rule</mat-icon> Certificate Template
          </button>
        </mat-menu>
        <mat-menu #serviceMenu="matMenu">
          <button mat-menu-item (click)="handleAction('service','view',element)">
            <mat-icon>visibility</mat-icon> View
          </button>
          <button mat-menu-item (click)="handleAction('service','add',element)">
            <mat-icon>add_circle</mat-icon> Add
          </button>
          <button mat-menu-item (click)="handleAction('service','edit',element)">
            <mat-icon>edit</mat-icon> Edit
          </button>
          <button mat-menu-item (click)="handleAction('service','delete',element)">
            <mat-icon>delete</mat-icon> Delete
          </button>
        </mat-menu>

        <mat-menu #questionnaireMenu="matMenu">
          <button mat-menu-item (click)="handleAction('questionnaire','view',element)">
            <mat-icon>assignment</mat-icon> View
          </button>
          <button mat-menu-item (click)="handleAction('questionnaire','add',element)">
            <mat-icon>post_add</mat-icon> Add
          </button>
        </mat-menu>

        <mat-menu #feeRuleMenu="matMenu">
          <button mat-menu-item (click)="handleAction('feeRule','view',element)">
            <mat-icon>assignment</mat-icon> View
          </button>
          <button mat-menu-item (click)="handleAction('feeRule','add',element)">
            <mat-icon>add_circle</mat-icon> Add
          </button>
        </mat-menu>

        <mat-menu #renewalCycleMenu="matMenu">
          <button mat-menu-item (click)="handleAction('renewalCycle','view',element)">
            <mat-icon>assignment</mat-icon> View
          </button>
          <button mat-menu-item (click)="handleAction('renewalCycle','add',element)">
            <mat-icon>autorenew</mat-icon> Add
          </button>
        </mat-menu>

        <mat-menu #renewalFeeMenu="matMenu">
          <button mat-menu-item (click)="handleAction('renewalFee','view',element)">
            <mat-icon>assignment</mat-icon> View
          </button>
          <button mat-menu-item (click)="handleAction('renewalFee','add',element)">
            <mat-icon>add_circle</mat-icon> Add
          </button>
        </mat-menu>

        <mat-menu #approvalMenu="matMenu">
          <button mat-menu-item (click)="handleAction('approvalFlow','view',element)">
            <mat-icon>visibility</mat-icon> View
          </button>
          <button mat-menu-item (click)="handleAction('approvalFlow','add',element)">
            <mat-icon>add_circle</mat-icon> Add
          </button>
          <!-- <button mat-menu-item (click)="handleAction('approvalFlow','edit',element)">
            <mat-icon>edit</mat-icon> Edit
          </button> -->
        </mat-menu>
        <mat-menu #certificateMenu="matMenu">
          <button mat-menu-item (click)="handleAction('serviceCertificate','view',element)">
            <mat-icon>visibility</mat-icon> View
          </button>
          <button mat-menu-item (click)="handleAction('serviceCertificate','add',element)">
            <mat-icon>add_circle</mat-icon> Add
          </button>
          <button mat-menu-item (click)="handleAction('serviceCertificate','edit',element)">
            <mat-icon>edit</mat-icon> Edit
          </button>
        </mat-menu>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="row-hover"></tr>
  </table>
<mat-paginator [pageSize]="10" [pageSizeOptions]="[5,10,25]" showFirstLastButtons></mat-paginator>
</div>