.info-head{
    font-size: 14px;
    font-weight: 600;

color: #003c5b;}

.service-application-form{
// box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
border: 1px solid #e9ecef;
border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;

}

.h-style{
    background-color: #003c5b;
padding: 14px;
color: white;
border-top-left-radius: 12px;
border-top-right-radius: 12px;
border-bottom: 3px solid #fda00f;

}

.h-style h1{
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
}