.info-head{
    font-size: 14px;
    font-weight: 600;

color: dodgerblue;}

.service-application-form{
box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
padding: 24px;
border: 1px solid #e9ecef;
border-radius: 12px;
}