<div class="page-container">
  <h2 class="page-title">NOC Issue Status</h2>
  <form [formGroup]="filterForm" class="responsive-filter" (ngSubmit)="search()">
    <div class="form-group small mb-10">
      <app-ilogi-input-date formControlName="fromDate" name="from_dt" fieldLabel="From Date" fieldId="from_dt"
        placeholder="DD-MM-YYYY" [monthsRange]="24" [allowFutureDates]="true" [mandatory]="false" [readonly]="false">
      </app-ilogi-input-date>
      <div class="field-error" *ngIf="fromDateControl?.touched && fromDateControl?.hasError('required')">
        From Date is required
      </div>
    </div>
    <div class="form-group small mb-10">
      <app-ilogi-input-date formControlName="toDate" name="to_dt" fieldLabel="To Date" fieldId="to_dt"
        placeholder="DD-MM-YYYY" [monthsRange]="24" [allowFutureDates]="true" [mandatory]="false" [readonly]="false">
      </app-ilogi-input-date>
      <div class="field-error" *ngIf="toDateControl?.touched && toDateControl?.hasError('required')">
        To Date is required
      </div>
      <div class="field-error"
        *ngIf="filterForm?.errors?.['dateRangeInvalid'] && (fromDateControl?.touched || toDateControl?.touched)">
        From Date cannot be greater than To Date
      </div>
    </div>
    <div class="form-group small">
      <app-ilogi-select formControlName="department" fieldId="department" fieldLabel="Select Department/Organization"
        placeholder="Select Department" [selectOptions]="departments" [enableSearch]="true">
      </app-ilogi-select>
    </div>
  </form>
  <div class="button-inline">
    <button type="button" class="btn btn-reset" (click)="reset()">Reset</button>
    <button type="submit" class="btn btn-search" (click)="search()">
      <span *ngIf="!loading">Search</span>
      <span *ngIf="loading" class="loading-dot">Searching</span>
    </button>
  </div>
  <div class="heading-excel-row">
    <h3 class="section-title">NOC LIST</h3>
    <button type="button" class="btn-excel" [disabled]="!data?.length || loading" (click)="exportExcel()">
      <i class="pi pi-file-excel"></i>
      <span>Excel</span>
    </button>
  </div>
  <div class="loader-overlay" *ngIf="loading">
    <div class="spinner"></div>
  </div>
  <table class="data-table" role="table" aria-label="Departmental approvals">
    <thead>
      <tr>
        <th>Sl. No.</th>
        <th>Department</th>
        <th>Received</th>
        <th>Processed</th>
        <th>Approved</th>
        <th>Submitted (within timelines)</th>
        <th>Submitted (timelines lapsed)</th>
        <th>Clarification Stage</th>
        <th>Rejected</th>
        <th>Other Status</th>
        <th>Queried within 7 days</th>
        <th>Queried after 7 days</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="!data?.length && !loading">
        <td colspan="12" class="no-record">No record found!</td>
      </tr>
      <tr *ngFor="let item of pagedData; let i = index">
        <td>{{ (page - 1) * pageSize + i + 1 }}</td>
        <td>{{ item.department_name ?? 'N/A' }}</td>
        <td>{{ item.received ?? 0 }}</td>
        <td>{{ item.processed ?? 0 }}</td>
        <td>{{ item.approved ?? 0 }}</td>
        <td>{{ item.submitted_within_timelines ?? 0 }}</td>
        <td>{{ item.submitted_timelines_lapsed ?? 0 }}</td>
        <td>{{ item.clarification_stage ?? 0 }}</td>
        <td>{{ item.rejected ?? 0 }}</td>
        <td>{{ item.other_status ?? 0 }}</td>
        <td>{{ item.queried_within_7_days ?? 0 }}</td>
        <td>{{ item.queried_after_7_days ?? 0 }}</td>
      </tr>
    </tbody>
  </table>
  <div class="pagination-wrapper" *ngIf="data?.length">
    <div class="pagination-container">
      <button class="pagination-btn nav-btn" (click)="onPageChange(page - 1)" [disabled]="page === 1">Prev</button>
      <button class="pagination-number" [class.active]="page === 1" (click)="onPageChange(1)"
        [disabled]="page === 1">1</button>

      <ng-container *ngIf="totalPages > 1">
        <button *ngIf="page - 1 > 1" class="pagination-number" (click)="onPageChange(page - 1)">{{ page - 1 }}</button>

        <button class="pagination-number active" *ngIf="page > 1 && page < totalPages">{{ page }}</button>

        <button *ngIf="page + 1 < totalPages" class="pagination-number" (click)="onPageChange(page + 1)">{{ page + 1
          }}</button>

        <button *ngIf="totalPages > 1" class="pagination-number" [class.active]="page === totalPages"
          (click)="onPageChange(totalPages)">{{ totalPages }}</button>
      </ng-container>
      <button class="pagination-btn nav-btn" (click)="onPageChange(page + 1)"
        [disabled]="page >= totalPages">Next</button>
    </div>
    <div class="page-size-wrapper" *ngIf="data?.length">
      <label>Rows per page:</label>
      <select [(ngModel)]="pageSize" (change)="onPageSizeChange()">
        <option *ngFor="let size of pageSizeOptions" [value]="size">
          {{ size }}
        </option>
      </select>
    </div>
  </div>
</div>