<main >
    <app-new-notification></app-new-notification>
    <app-new-slider></app-new-slider>
    <app-new-success-storys></app-new-success-storys>
    <app-key-feature-for-success></app-key-feature-for-success>
    <app-new-focus-sector></app-new-focus-sector>
    <app-new-timeline></app-new-timeline>
    <app-new-quick-access-tools></app-new-quick-access-tools>
    <app-new-performance-analytics></app-new-performance-analytics>
    <app-user-experience-success-stories></app-user-experience-success-stories>
    <!-- <app-new-one-stop-information-hub></app-new-one-stop-information-hub> -->
</main>
