/* 3-column responsive grid */
.form-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns on desktop */
column-gap: 1.5rem;
row-gap: 1.5rem;
}

.form-con{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* Tablet: 2 columns */
@media (max-width: 1024px) {
  .form-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile: 1 column */
@media (max-width: 768px) {
  .form-grid {
    grid-template-columns: 1fr;
  }
}

/* Buttons aligned to right */
.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}
