<form [formGroup]="form" class="">

  <div class="form-grid">
    <app-ilogi-input fieldLabel="Name of the Unit" formControlName="unitName" [mandatory]="true"
      [placeholder]="'Name of the Unit'"></app-ilogi-input>
    <app-ilogi-input fieldLabel="Post Office" formControlName="postOffice"
      [placeholder]="'Post Office'"></app-ilogi-input>
    <app-ilogi-input fieldLabel="Unit Address" formControlName="unitAddress" [mandatory]="true"
      [placeholder]="'Unit Address'"></app-ilogi-input>
    <div>

      <app-ilogi-input fieldLabel="Contact No" formControlName="contactNo"
        [placeholder]="'Contact No'" maxlength="10"  ></app-ilogi-input>
      <!-- <div *ngIf="getErrorMessage('contactNo')" class="error-msg">
        {{ getErrorMessage('contactNo') }}
      </div> -->
    </div>
    <div>

      <app-ilogi-input fieldLabel="Email" formControlName="email" [placeholder]="'Email'"></app-ilogi-input>
      <!-- <div *ngIf="getErrorMessage('email')" class="error-msg">
        {{ getErrorMessage('email') }}
      </div> -->
    </div>
    <app-ilogi-input fieldLabel="Website" formControlName="website" [placeholder]="'Website'"></app-ilogi-input>

    <app-ilogi-select formControlName="district" fieldLabel="District" [selectOptions]="districtOptions"
      placeholder="Select District" [mandatory]="true" (change)="onDistrictChange($event.value)"></app-ilogi-select>
    <app-ilogi-select formControlName="subDivision" fieldLabel="Subdivision" [selectOptions]="subDivisionOptions"
      placeholder="Select Subdivision" [mandatory]="true"
      [disabled]="subDivisionOptions.length === 0"></app-ilogi-select>
  </div>
  <app-ilogi-radio [mandatory]="true" fieldLabel="Area Type" formControlName="areaType" [radioOptions]="[
    {name:'Urban', value:'Urban'},
    {name:'Rural', value:'Rural'}
  ]">
  </app-ilogi-radio>
  <div class="form-grid mb-3">

    <app-ilogi-select fieldLabel="Land Type" formControlName="landType" [mandatory]="true" [placeholder]="'Land Type'"
      [selectOptions]="unit_location_land_type"></app-ilogi-select>

    <app-ilogi-input fieldLabel="Block" [mandatory]="true" formControlName="block" [placeholder]="'Block'"
      *ngIf="visibility.showRuralFields"></app-ilogi-input>
    <app-ilogi-input fieldLabel="Gram Panchayat" [mandatory]="true" formControlName="gramPanchayat" [placeholder]="'Gram Panchayat'"
      *ngIf="visibility.showRuralFields"></app-ilogi-input>

    <app-ilogi-input fieldLabel="Municipality" [mandatory]="true" formControlName="municipality" [placeholder]="'Municipality'"
      *ngIf="visibility.showUrbanFields"></app-ilogi-input>
    <app-ilogi-input fieldLabel="Ward No" [mandatory]="true" formControlName="wardNo" [placeholder]="'Ward No'"
      *ngIf="visibility.showUrbanFields"></app-ilogi-input>

    <app-ilogi-input fieldLabel="Estate Name" formControlName="estateName" [mandatory]="true" [placeholder]="'Estate Name'"
      *ngIf="visibility.showEstateFields"></app-ilogi-input>
    <app-ilogi-input fieldLabel="Plot No (Estate)" formControlName="estatePlotNo" [mandatory]="true" [placeholder]="'Plot No (Estate)'"
      *ngIf="visibility.showEstateFields"></app-ilogi-input>
  </div>


  <div class="form-grid mb-3">
    <div>

      <app-ilogi-input fieldLabel="Pin Code" formControlName="pinNo" [mandatory]="true"
        [placeholder]="'Pin Code'" maxlength="6"></app-ilogi-input>
      <!-- <div *ngIf="getErrorMessage('pinNo')" class="error-msg">
        {{ getErrorMessage('pinNo') }}
      </div> -->
    </div>
    <app-ilogi-input fieldLabel="Fax" formControlName="fax" [placeholder]="'Fax'"></app-ilogi-input>
    <app-ilogi-input fieldLabel="Police Station" formControlName="policeStation" [mandatory]="true"
      [placeholder]="'Police Station'"></app-ilogi-input>

    <app-ilogi-input fieldLabel="Planning Area" formControlName="planningArea"
      [placeholder]="'Planning Area'"></app-ilogi-input>
  </div>

  <div class="form-grid mb-3">
    <app-ilogi-input fieldLabel="Tehasil" formControlName="tehasil" [placeholder]="'Tehasil'"></app-ilogi-input>
    <app-ilogi-input fieldLabel="Revenue Mouza" formControlName="mouza"
      [placeholder]="'Revenue Mouza'"></app-ilogi-input>
    <app-ilogi-input fieldLabel="Plot No (CS Sabek)" formControlName="plotNoCs"
      [placeholder]="'Plot No (CS Sabek)'"></app-ilogi-input>
    <app-ilogi-input fieldLabel="Load Bearing (Sq. Mtr)" formControlName="loadBearing"
      [placeholder]="'Load Bearing (Sq. Mtr)'"></app-ilogi-input>
    <app-ilogi-input fieldLabel="Other Construction (Sq. Mtr)" formControlName="otherConstruction"
      [placeholder]="'Other Construction (Sq. Mtr)'"></app-ilogi-input>
    <app-ilogi-input fieldLabel="Power Supply Agency" formControlName="powerSupply"
      [placeholder]="'Power Supply Agency'"></app-ilogi-input>
  </div>

  <div class="form-grid">
    <app-ilogi-input fieldLabel="Revenue Circle" formControlName="revenueCircle"
      [placeholder]="'Revenue Circle'"></app-ilogi-input>
    <app-ilogi-input fieldLabel="Khatian No" formControlName="khatianNo" 
      [placeholder]="'Khatian No'"></app-ilogi-input>
    <app-ilogi-input fieldLabel="Plot No" formControlName="plotNo" 
      [placeholder]="'Plot No'"></app-ilogi-input>
    <app-ilogi-input fieldLabel="Land Area" formControlName="landArea" 
      [placeholder]="'Land Area'"></app-ilogi-input>
    <app-ilogi-select fieldLabel="Classification of Land" formControlName="classification" 
      [placeholder]="'Classification'" [selectOptions]="land_record_details_classification_of_land"></app-ilogi-select>
    <app-ilogi-select fieldLabel="Land Record Details Unit" formControlName="details_unit" 
      [placeholder]="'Unit'" [selectOptions]="land_record_details_unit"></app-ilogi-select>

    <!-- <app-ilogi-input fieldLabel="Land Floor Building (Sq. Mtr)" formControlName="landFloor"
      [placeholder]="'Land Floor Building (Sq. Mtr)'"></app-ilogi-input> -->
    <app-ilogi-input fieldLabel="Sanitary Latrine Count" formControlName="sanitaryCount"
      [placeholder]="'Sanitary Latrine Count'"></app-ilogi-input>
    <app-ilogi-input fieldLabel="Boundary Wall (Mtr)" formControlName="boundaryWall"
      [placeholder]="'Boundary Wall (Mtr)'"></app-ilogi-input>
    <app-ilogi-input fieldLabel="Building Sq. Mtr" formControlName="buildingSqMtr"
      [placeholder]="'Building Sq. Mtr'"></app-ilogi-input>
  </div>

  <div class="mt-4">
    <h1 class="page-head" >INVESTMENT DETAILS <span class="text-danger" >*</span></h1>
    <app-dynamic-table [title1]="'Type'" [title2]="'Amount'" [rows]="projectCostRows" [formGroup]="form">
    </app-dynamic-table>
  </div>
<div>
 

    <h1 class="page-head" >EMPLOYMENT DETAILS<span class="text-danger" >*</span></h1>

  <app-dynamic-table [title1]="'Type'" [title2]="'Count'" [rows]="employmentRows" [formGroup]="form">
  </app-dynamic-table>
</div>

  <div class="form-grid">
    <app-ilogi-input fieldLabel="Annual Turnover" formControlName="annualTurnover" [mandatory]="true"
      [placeholder]="'Annual Turnover'"></app-ilogi-input>
    <app-ilogi-input fieldLabel="Working Session" formControlName="workingSession" 
      [placeholder]="'Working Session'"></app-ilogi-input>
    <app-ilogi-input fieldLabel="Product Manufacturing Process" formControlName="process" 
      [placeholder]="'Product Manufacturing Process'"></app-ilogi-input>

    <app-ilogi-select fieldLabel="Category Enterprise" formControlName="category" 
      [placeholder]="'Category Enterprise'" [selectOptions]="category_of_enterprise"></app-ilogi-select>
  </div>

  <div class="form-actions">
    <button type="button" class="btn btn-primary" (click)="onSubmit(true)">
      Save As Draft
    </button>

    <button type="submit" class="btn btn-success" (click)="onSubmit(false)">
      Submit
    </button>
  </div>

</form>