<div class="certificate-wrapper">
  <div class="header">
    <h2 class="service-title">{{ serviceName }}</h2>
    <button type="button" class="close-btn" (click)="closeDialog()">✕</button>
  </div>
  <div class="editor-section">
  <label class="editor-label">Edit Certificate Template</label> <ckeditor #editor [editor]="Editor" [(ngModel)]="formTemplate" [config]="config" (ready)="onReady($event)"
      (change)="onChange($event)"></ckeditor>
  </div>
  <div class="footer">
    <button pButton type="button" class="p-button-outlined" (click)="previewTemplate()">Preview</button>
    <button pButton type="button" class="p-button-secondary" (click)="downloadTemplate()">Download</button>
    <button pButton type="button" class="p-button-success" (click)="saveTemplate()">Save Template</button>
  </div>

  <h3>Preview:</h3>
  <div class="preview ck-content" [innerHTML]="formTemplate"></div>
</div>