<h2 class="header-service">{{this.data.service?.name || this.data.row.service.name}}</h2>
<div class="approval-flow-container" [formGroup]="approvalFlowForm">
  <div class="header">
    <h5 class="title">{{ mode === 'add' ? 'Add Approval Flow' : 'Edit Approval Flow' }}</h5>
    <button mat-icon-button class="close-btn" (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Service ID</mat-label>
    <input matInput formControlName="service_id" type="number" placeholder="Enter Service ID" autocomplete="off" />
    <mat-icon matSuffix>article</mat-icon>
  </mat-form-field>

  <div formArrayName="steps">
    <ng-container *ngFor="let step of steps.controls; let i = index" [formGroupName]="i">
      <mat-card class="step-card mat-elevation-z3">
        <div class="step-header">
          <h3>Step {{ i + 1 }}</h3>
          <button mat-icon-button color="warn" (click)="removeStep(i)" *ngIf="steps.length > 1">
            <mat-icon>delete</mat-icon>
          </button>
        </div>

        <!-- Step Type -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Step Type</mat-label>
          <mat-select formControlName="step_type">
            <mat-option *ngFor="let type of stepTypes" [value]="type">{{ type }}</mat-option>
          </mat-select>
          <mat-icon matSuffix>timeline</mat-icon>
        </mat-form-field>

        <!-- Department -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Department</mat-label>
          <mat-select formControlName="department_id" placeholder="Select Department">
            <mat-option *ngFor="let dept of departments" [value]="dept.id">
              {{ dept.name }}
            </mat-option>
            <mat-option *ngIf="departments.length === 0" [value]="null" disabled>
              No departments found
            </mat-option>
          </mat-select>
          <mat-error *ngIf="approvalFlowForm.get('department_id')?.hasError('required')">
            Department is required
          </mat-error>
          <mat-icon matSuffix>apartment</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Hierarchy Level</mat-label>
          <mat-select formControlName="hierarchy_level">
            <mat-option *ngFor="let level of hierarchyLevels" [value]="level">{{ level }}</mat-option>
          </mat-select>
          <mat-icon matSuffix>layers</mat-icon>
        </mat-form-field>
      </mat-card>
    </ng-container>
  </div>
  <mat-dialog-actions align="end">
    <button mat-stroked-button color="warn" (click)="addStep()">
      Add Step
    </button>
    <button mat-flat-button color="accent" class="submit-btn" (click)="submit()">
      {{ mode === 'add' ? 'Save' : 'Update' }}
    </button>
  </mat-dialog-actions>
</div>