.main-footer {
  background: #003c5b; // Updated background color
  color: #d1d5db; // gray-300
  padding: 1rem 0 1rem 0; // Adjusted padding for mini-footer
  position: relative;
  overflow: hidden;

  p {
    margin: 0;
    color: #ffffff; // gray-500
  }

  .footer-bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    font-size: 0.875rem;
    text-align: center;

    p {
      margin: 0;
      color: #000000;
      font-weight: 500;
    }

    .footer-links {
      display: flex;
      gap: 1.5rem;
      flex-wrap: wrap;

    a {
      color: #ffffff; // gray-500
      text-decoration: none;
      transition: color 0.3s ease; // base = 0.3s ease

        &:hover {
          color: #ffffff;
        }
      }
    }

    .last-updated {
      font-size: 0.75rem;
      opacity: 0.9;
    }
  }
}

@media (max-width: 768px) {
  .main-footer .footer-bottom {
    flex-direction: column;
    align-items: center;

    .footer-links {
      justify-content: center;
    }
  }
}
