<div style="margin-top: 6rem; scroll-behavior: smooth;">
  <app-landing-page></app-landing-page>

  <!-- Services -->
  <div class="services-section">
    <div class="home-content">
      <app-about> </app-about>
    </div>
    <div class="home-content">

      <dynamic-card-container [cardData]="cardData"></dynamic-card-container>
    </div>
    <div class="home-content">
      <app-services-card ></app-services-card>
    </div>
     <div class="home-content">
      <app-timeline-card></app-timeline-card>
    </div>
       <div class="home-content">
         <app-analytics-section></app-analytics-section>
    </div>
         <div class="home-content">
      <app-support></app-support>
    </div>
  </div>
</div>
