.home-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  // margin: 0 auto;
  margin-top: 5rem;
}

.services-section {
  // margin-top: 6rem;
  padding: 0 1rem;
  margin-bottom: 4rem;
}

h2 {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
    color: #1a1a2e;
    margin-bottom: 1.5rem;
    background: linear-gradient(90deg, #e563f1, #f65c9f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: -0.5px;
  }

  p.subtitle {
    text-align: center;
    font-size: 1.2rem;
    color: #4b5563;
    margin-bottom: 3rem;
    // max-width: 700px;
    line-height: 1.6;
    margin-left: auto;
    margin-right: auto;
  }

.home-content{
  margin-top: 6rem;

}

