<div class="page-container">
  <h3 class="section-title">Payment List</h3>
  <form [formGroup]="form" class="filter-row">
    <div class="form-group small mb-10">
      <app-ilogi-input-date fieldLabel="From Date" formControlName="fromDate">
      </app-ilogi-input-date>
    </div>
    <div class="form-group small mb-10">
      <app-ilogi-input-date fieldLabel="To Date" formControlName="toDate">
      </app-ilogi-input-date>
      <div class="error-text" *ngIf="form.errors?.['dateInvalid']">
        From Date cannot be greater than To Date
      </div>
    </div>
    <div class="form-group small">
      <app-ilogi-select fieldLabel="Select Department" [enableSearch]="true" formControlName="department" [selectOptions]="departments">
      </app-ilogi-select>
    </div>
    <div class="form-group small">
      <app-ilogi-select fieldLabel="Select Report Type" [enableSearch]="true" formControlName="reportType" [selectOptions]="reportTypes">
      </app-ilogi-select>
    </div>
    <div class="button-row proper-buttons">
      <button class="btn btn-reset" type="button" (click)="reset()">Reset</button>
      <button class="btn btn-search" type="button" (click)="search()">Search</button>
    </div>
  </form>
  <div class="heading-excel-row">
    <h3 class="section-title">Payment Details</h3>
    <button class="btn-excel" [disabled]="!data?.length" (click)="exportExcel()">
      <i class="pi pi-file-excel"></i> Excel
    </button>
  </div>
  <table class="data-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Department</th>
        <th>Report</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="!data.length">
        <td colspan="4" class="no-record">No record found!</td>
      </tr>
      <tr *ngFor="let item of data">
        <td>{{ item.id }}</td>
        <td>{{ item.dept }}</td>
        <td>{{ item.report }}</td>
        <td>{{ item.amount }}</td>
      </tr>
    </tbody>
  </table>
</div>