<div class="form-group">

  <p-floatlabel variant="on">
    <div class="input-wrapper" *ngIf="type !== 'textarea'" class="eye">
      <input pInputText appBlockCopyPaste [blockCopyPaste]="appBlockCopyPaste" [type]="inputType" [id]="fieldId"
        [value]="value == null ? '' : value" [placeholder]="placeholder" (input)="onInputChange($event)"
        [attr.maxlength]="maxlength" [readonly]="readonly" [disabled]="isDisabled"
        [attr.aria-invalid]="submitted && hasErrors" [attr.aria-describedby]="errorFieldId"
        (mouseenter)="showErrorOnFieldHover()" (mouseleave)="hideErrorOnFieldHoverOut()" (blur)="changeBlur($event)"
        class="form-control" [ngClass]="{ 
          'is-invalid': submitted && hasErrors, 
          'readonly-like': readonly,
          'password-input': type === 'password'
        }" autocomplete="off" />
      <div class="pos">

        <button *ngIf="type === 'password'" type="button" class="password-toggle-btn"
          (click)="togglePasswordVisibility()" [attr.aria-label]="passwordVisible ? 'Hide password' : 'Show password'"
          tabindex="-1">
          <mat-icon style="font-size: 18px;">
            {{ passwordVisible ? 'visibility_off' : 'visibility' }}
          </mat-icon>
        </button>
      </div>
    </div>

    <textarea *ngIf="type === 'textarea'" pInputTextarea [value]="value == null ? '' : value"
      (input)="onInputChange($event)" [attr.maxlength]="maxlength" [placeholder]="placeholder" [id]="fieldId"
      [rows]="rows" [readonly]="readonly" [disabled]="isDisabled" [attr.aria-invalid]="submitted && hasErrors"
      [attr.aria-describedby]="errorFieldId" (mouseenter)="showErrorOnFieldHover()"
      (mouseleave)="hideErrorOnFieldHoverOut()" (blur)="changeBlur($event)" class="form-control"
      [ngClass]="{ 'is-invalid': submitted && hasErrors, 'readonly-like': readonly }" autocomplete="off"></textarea>

    <label [for]="fieldId">
      <span [innerHTML]="fieldLabel"></span>
      <span *ngIf="mandatory" class="required-indicator">*</span>
    </label>
  </p-floatlabel>

  <div *ngIf="submitted && hasErrors" class="invalid-input" [id]="errorFieldId" [ngClass]="{ 'show-error': isHovered }">
    <ng-container *ngFor="let item of errors | keyvalue; let i = index">
      <div *ngIf="i === 0" class="x-error-msg-text">
        {{ errorMessages[item.key] || item.value?.message }}
      </div>
    </ng-container>
    <div *ngIf="errors?.['custom']?.status" class="x-error-msg-text">
      {{ errors?.['custom']?.message }}
    </div>
  </div>
</div>