/* Focus state for label when datepicker is active */
:host ::ng-deep .p-floatlabel .p-datepicker.p-focus ~ label {
  background-color: #fff !important;
  color: #00c3ff !important; /* your highlight color */
  padding: 0 4px;
  transition: background-color 0.2s ease;
}

/* Keep label white when floated (value is present) */
:host ::ng-deep .p-floatlabel.p-floatlabel-on label {
  background-color: #fff !important;
}

:host ::ng-deep .p-datepicker input{
  font-size: 0.85rem;
  height: 32px;
//   width: 200px;
  background-color: #fff !important;
  color: #3b3b3b;
  border: 1px solid #b8b8b8;
}


:host ::ng-deep .p-datepicker~label {
  font-size: 0.75rem;
  color: #999;
  font-weight: 500;
}
:host ::ng-deep .p-datepicker .p-datepicker-panel {
  background-color: #fff!important;
  color: #999;
  border: 1px solid #b8b8b8 ;
}
// :host ::ng-deep .p-datepicker .p-datepicker-panel .p-datepicker-day-cell {
// //   background-color: #fff!important;
//   color: #999;
// }


/* Datepicker panel */
:host ::ng-deep .p-datepicker {
  background-color: #fff !important;
  color: #3b3b3b !important;
//   border: 1px solid #b8b8b8;
}

/* Header (month/year + arrows) */
:host ::ng-deep .p-datepicker .p-datepicker-header {
  background-color: #fff !important;
  color: #3b3b3b !important;
  border-bottom: 1px solid #b8b8b8;
}

/* Month/Year text */
:host ::ng-deep .p-datepicker .p-datepicker-title {
  color: #3b3b3b !important;
  font-weight: 600;
}

/* Navigation arrows */
:host ::ng-deep .p-datepicker .p-datepicker-next-button,
:host ::ng-deep .p-datepicker .p-datepicker-prev-button {
  color: #3b3b3b !important;
  font-size: 0.10rem!important;
}

/* Day numbers */
:host ::ng-deep .p-datepicker td > span {
  color: #3b3b3b !important;
}

/* Today cell */
:host ::ng-deep .p-datepicker td.p-datepicker-today > span {
  border: 1px solid #28a745 !important;
  background-color: #00c3ff!important;
  color: #fff !important;
  font-weight: 600;
  background-color: #fff;
//   font-size: 0.85rem;
}

/* Selected date */
:host ::ng-deep .p-datepicker td.p-highlight > span {
  background-color: #28a745 !important;
  color: #fff !important;
  border-radius: 50%;
}

:host ::ng-deep .p-datepicker   .p-datepicker-weekday{
    color: #999;
    font-size: 0.85rem;
}
:host ::ng-deep .p-datepicker   .p-datepicker-select-month{
    color: #999;
    border: 1px solid #b8b8b8;
    font-size: 0.85rem;
}
:host ::ng-deep .p-datepicker   .p-datepicker-select-year{
    color: #999;
    border: 1px solid #b8b8b8;
    font-size: 0.85rem;
}
:host ::ng-deep .p-datepicker   .p-datepicker-select-year:hover,
:host ::ng-deep .p-datepicker   .p-datepicker-select-month:hover{
    background-color: #00c3ff;
    color: #fff;
}
:host ::ng-deep .p-datepicker   .p-datepicker-prev-button:hover,
:host ::ng-deep .p-datepicker   .p-datepicker-next-button:hover,
:host ::ng-deep .p-datepicker   .p-datepicker-day:hover{
    background-color: #00c3ff;
    color: #fff!important;
}