.sidebar{ 
    background-color:#04578D;
    transition: all 0.5s  ease-in-out;
}
.sidebar ul{ 
    list-style:none;
    margin:0px;
    padding:0px;
}
.sidebar li a,.sidebar li a.collapsed.active{
    display:block;
    padding:10px 12px; color:#fff;
    border-left:0px solid #dedede;
    text-decoration:none;
    cursor: pointer;
}
.sub-menu li a, .sub-menu li a.collapsed.active {
    display: block;
    padding: 6px 12px;
}
.sidebar li a.active{
    background-color:#f28b2f;
    // border-left:5px solid #dedede;
    transition: all 0.5s  ease-in-out;
}
.sidebar li a i{
    padding-right:5px;
}
.sidebar ul li .sub-menu li a{
    position:relative;
    font-size:80%;
    font-weight: 400;
}
.sidebar ul li .sub-menu li a:before{
    border-left:2px solid #dedede; 
}
.sidebar ul li .sub-menu li a:hover{
    background-color:#04578D;
    padding-left:20px;
    transition: all 0.5s  ease-in-out
}
.sidebar ul li .sub-menu li.active {
    background-color: #4A667D;
    border-left: 3px solid #f28b2f;
}
.sub-menu {
    padding: 10px 8px !important;
}
.sidebar li a .nav-label,.sidebar li a .nav-label+span{
    transition: all 0.5s  ease-in-out;
}
.fa.pull-right {
    margin-top: .3em;
}