<div @slideFadeIn class="dialog-wrapper">
  <div class="container">
    <h2 class="page-title">Create Departmental Inspection</h2>
    <form [formGroup]="deptInspectionForm" class="inspection-form">
      <div class="section">
        <div class="section-view">
          <h3 class="section-title">Unit Details</h3>
          <button mat-button class="btn btn-success" *ngIf="unitUserId" (click)="viewOrganization()">View Organization</button>
          </div>
        <div class="grid-container">
          <app-ilogi-select fieldId="unitName" fieldLabel="Unit Name" [mandatory]="true" formControlName="unitName"
            [selectOptions]="unitOptions" placeholder="Select unit name" [enableSearch]="true">
          </app-ilogi-select>

          <app-ilogi-input fieldId="unitAddress" class="mt-20" fieldLabel="Unit Address" formControlName="unitAddress"
            [readonly]="true" placeholder="Enter unit address">
          </app-ilogi-input>

          <app-ilogi-input fieldId="unitDistrict" class="mt-20" fieldLabel="Unit District" [readonly]="true"
            formControlName="unitDistrict" placeholder="Enter unit district">
          </app-ilogi-input>

          <app-ilogi-input fieldId="unitSubDivision" class="mt-20" fieldLabel="Unit Sub-Division" [readonly]="true"
            formControlName="unitSubDivision" placeholder="Enter sub-division">
          </app-ilogi-input>

          <app-ilogi-input fieldId="riskCategory" class="mt-20" fieldLabel="Risk Category" [readonly]="true"
            formControlName="riskCategory" placeholder="Enter risk category">
          </app-ilogi-input>
        </div>
      </div>
      <!-- <div class="section">
        <h3 class="section-title">Upcoming Inspection Details</h3>
        <app-dynamic-table [data]="upcomingInspections" [columns]="inspectionColumns" [pageSize]="5"
          [showPagination]="false" [searchable]="false">
        </app-dynamic-table>
      </div> -->
      <div class="section">
        <h3 class="section-title">Inspection Details</h3>
        <div class="grid-container">
       
          <app-ilogi-select fieldId="inspectionType" fieldLabel="Inspection Type" [mandatory]="true"
            formControlName="inspectionType" [selectOptions]="inspectionTypeOptions"
            placeholder="Select inspection type" [enableSearch]="true">
          </app-ilogi-select>
          <!-- Inspection Date with visible border (same as Proposed Date style) -->
          <app-ilogi-input-date fieldId="inspectionDate" [disabledDates]="holidays" class="mt-5" fieldLabel="Inspection Date"
            formControlName="inspectionDate" placeholder="DD/MM/YYYY">
          </app-ilogi-input-date>


          <app-ilogi-select fieldId="inspector" fieldLabel="Inspector" [mandatory]="true" formControlName="inspector"
            [selectOptions]="inspectors" placeholder="Select inspector" [enableSearch]="true">
          </app-ilogi-select>

          <app-ilogi-select fieldId="inspectionFor" fieldLabel="Inspection For" [mandatory]="true"
            formControlName="inspectionFor" [selectOptions]="inspectionForOptions" placeholder="Select inspection for" [enableSearch]="true">
          </app-ilogi-select>

          <app-ilogi-input fieldId="remarks" fieldLabel="Remarks" type="textarea" formControlName="remarks"
            placeholder="Enter remarks (if any)">
          </app-ilogi-input>
        </div>
      </div>

      <div class="action-buttons">
        <button type="button" class="btn cancel" (click)="onCancel()"
          (click)="router.navigate(['/dashboard/departmental-inspection'])">
          Cancel
        </button>
        <button type="submit" class="btn submit" (click)="onSubmit()">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>