.pageOverlayLoader {
    height: 100%;
    width: 100%;
    background: rgba(256,256,256,0.4);
    margin: 0 auto;
    position: fixed;
    z-index: 100;
    left: 0;
    top:0;
  }
  .loaderholder {
      margin: 0 auto;
      position: fixed;
      width: 60px;
      height: 60px;
      left: 45%;
      top: 45%;
      text-align: center;
      color: #f28b2f;
    }
  
    .tidc-swaagat-cube {
      width: 50px;
      height: 50px;
  
      -webkit-transform: rotateZ(45deg);
      transform: rotateZ(45deg);
    }
  
    .tidc-swaagat-cube .tidc-innerdiv {
      float: left;
      width: 50%;
      height: 50%;
      position: relative;
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
    }
    .tidc-swaagat-cube .tidc-innerdiv:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #f28b2f;
      -webkit-animation: tidc-fold-Angle 2.4s infinite linear both;
      animation: tidc-fold-Angle 2.4s infinite linear both;
      -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
      transform-origin: 100% 100%;
    }
    .tidc-swaagat-cube .tidc-innerdiv2 {
      -webkit-transform: scale(1.1) rotateZ(90deg);
      transform: scale(1.1) rotateZ(90deg);
    }
    .tidc-swaagat-cube .tidc-innerdiv3 {
      -webkit-transform: scale(1.1) rotateZ(180deg);
      transform: scale(1.1) rotateZ(180deg);
    }
    .tidc-swaagat-cube .tidc-innerdiv4 {
      -webkit-transform: scale(1.1) rotateZ(270deg);
      transform: scale(1.1) rotateZ(270deg);
    }
    .tidc-swaagat-cube .tidc-innerdiv2:before {
      -webkit-animation-delay: 0.3s;
      animation-delay: 0.3s;
    }
    .tidc-swaagat-cube .tidc-innerdiv3:before {
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s;
    }
    .tidc-swaagat-cube .tidc-innerdiv4:before {
      -webkit-animation-delay: 0.9s;
      animation-delay: 0.9s;
    }
    @-webkit-keyframes tidc-fold-Angle {
      0%,
      10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
      }
      25%,
      75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
      }
      90%,
      100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
      }
    }
  
    @keyframes tidc-fold-Angle {
      0%,
      10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
      }
      25%,
      75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
      }
      90%,
      100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
      }
    }