<div class="service-view-container">
  <!-- <h2 class="page-head mb-3">Application Details</h2> -->

  <div *ngIf="isLoading" class="text-center py-5">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <p class="mt-2">Loading application details...</p>
  </div>

  <div *ngIf="!isLoading && !applicationData" class="text-center text-muted py-5">
    <p> Application not found.</p>

  </div>

  <div *ngIf="!isLoading && applicationData">

    <!-- Workflow History -->
    @if (workflowData.length > 0) {
    <div class="btn-right">
      <h3 class=" page-head">Workflow Steps</h3>
      <div class="btn-group-right">
        <button (click)="navigateToCAF()" class="btn btn-success">CAF <mat-icon>visibility</mat-icon></button>
        <button (click)="downloadCertificate()" *ngIf="isFinalApproval === 'approved'" class="submit-btn">Certificate
          <mat-icon>picture_as_pdf</mat-icon>
        </button>
        @if (sampleFilePreview) {
        <button mat-raised-button color="primary" class="submit-btn" (click)="previewSampleFile()">
          Preview Sample File
        </button>
        }
      </div>
    </div>
    <app-dynamic-table [data]="workflowData" [columns]="workflowColumns" [showPagination]="true" [pageSize]="5"
      [searchable]="true"></app-dynamic-table>
    }

    @if (applicationQAColumns.length > 0) {
    <h3 class="mt-4 page-head">Application Questions & Answers</h3>
    <app-dynamic-table [data]="applicationQATableData" [columns]="applicationQAColumns" [showPagination]="false"
      [searchable]="false"></app-dynamic-table>
    }
    @else {
    <div class="alert alert-info mt-4">
      No application questions provided.
    </div>
    }

    <!-- Main Application Summary -->
    @if (infoData.length > 0) {
    <h3 class="mt-4 page-head">Application Summary</h3>
    <app-dynamic-table [data]="infoData" [columns]="infoColumns" [showPagination]="false"
      [searchable]="false"></app-dynamic-table>
    }


  </div>

  <!-- Status Action Modal -->
  <div *ngIf="statusModal.visible" class="modal-overlay">
    <div class="modal-content">
      <h3>{{ statusModal.title }}</h3>

      <form [formGroup]="remarkForm" (ngSubmit)="onSubmitStatus()">
        <div class="extra-payment" *ngIf="statusModal.action === 'raise_extra_payment'">
          <app-ilogi-input formControlName="extraAmount" fieldLabel="Extra Payment Amount" [mandatory]="true"
            placeholder="Enter extra payment amount" inputType="number"></app-ilogi-input>

          @if (remarkForm.get('extraAmount')?.invalid && remarkForm.get('extraAmount')?.touched) {
          <small class="text-danger">Extra Payment Amount is required.</small>
          }
        </div>
        <div class="mb-3">
          <app-ilogi-input formControlName="remarks" label="Remarks" [mandatory]="true"
            placeholder="Enter remarks for this action (min 5 characters)"></app-ilogi-input>
        </div>
        <div>
          <app-ilogi-file-upload formControlName="attachment"  [mandatory]="false"
            placeholder="Upload supporting document" accept=".png,.jpg,.jpeg,.pdf"></app-ilogi-file-upload>
        </div>

        @if (remarkForm.get('remarks')?.invalid && remarkForm.get('remarks')?.touched) {
        <small class="text-danger">
          Remarks are required and must be at least 5 characters.
        </small>
        }
        <div class="modal-actions">
          <button class="btn btn-primary" *ngIf="isCertificatePreview && statusModal.action === 'approved'" mat-raised-button color="primary"
              (click)="previewCertificate()">
              <span style="color: white;">Preview </span>
            </button>
          
            <button class="btn btn-primary" *ngIf="isCertificatePreview && statusModal.action === 'approved'" mat-raised-button class="generate-btn"
              (click)="editCertificateGeneration()">
              <mat-icon class="mr-2">workspace_premium</mat-icon>
              <span style="color: white;">Generate </span>
            </button>
          
          
            <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>

        <button type="submit" class="btn btn-primary" [disabled]="remarkForm.invalid">
            Confirm
          </button>
        </div>
      </form>
    </div>
  </div>
</div>