<div class="container">
    <div class="ContactUs-section">
        <h1 class="hero-title">Contact Us</h1>
        <p class="hero-subtitle">Get in touch with us for any assistance or information about SWAAGAT 2.0. We're here to help you with all your queries.</p>
    </div>
    
    <div class="contact-grid">
        <div>
            <div class="contact-card">
                <div class="card-header">
                    <div class="card-icon">
                        <img src="assets/TIDC_logo.png" alt="TIDC logo">
                    </div>
                    <div>
                        <h2 class="card-title">TIDC Limited</h2>
                        <p class="card-subtitle">Tripura Industrial Development Corporation</p>
                    </div>
                </div>
                
                <div class="contact-info">
                    <div class="info-item" (click)="copyToClipboard('TIDC Limited, Khejurbagan, Agartala, Tripura, 799006')" role="button" tabindex="0" (keydown)="handleKeydown($event, 'TIDC Limited, Khejurbagan, Agartala, Tripura, 799006')">
                        <fa-icon [icon]="faLocationDot" class="info-icon"></fa-icon>
                        <div class="info-content">
                            <div class="info-label">Address</div>
                            <div class="info-value">
                                Tripura Industrial Development Corporation Limited<br>
                                Khejurbagan, Agartala, Tripura, 799006
                            </div>
                        </div>
                    </div>
                    
                    <div class="info-item" (click)="copyToClipboard('0381-2416617')" role="button" tabindex="0" (keydown)="handleKeydown($event, '0381-2416617')">
                        <fa-icon [icon]="faPhone" class="info-icon"></fa-icon>
                        <div class="info-content">
                            <div class="info-label">Phone Numbers</div>
                            <div class="info-value">
                                <a href="tel:0381-2416617">0381-2416617</a>, 
                                <a href="tel:0381-2416446">2416446</a>, 
                                <a href="tel:0381-2416373">2416373</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="info-item" (click)="copyToClipboard('0381-2414503')" role="button" tabindex="0" (keydown)="handleKeydown($event, '0381-2414503')">
                        <fa-icon [icon]="faFax" class="info-icon"></fa-icon>
                        <div class="info-content">
                            <div class="info-label">Telephone</div>
                            <div class="info-value">0381-2414503</div>
                        </div>
                    </div>
                    
                    <div class="info-item" (click)="copyToClipboard('tidcltd.in@gmail.com')" role="button" tabindex="0" (keydown)="handleKeydown($event, 'tidcltd.in@gmail.com')">
                        <fa-icon [icon]="faEnvelope" class="info-icon"></fa-icon>
                        <div class="info-content">
                            <div class="info-label">Email</div>
                            <div class="info-value">
                                <a href="mailto:tidcltd.in@gmail.com">tidcltd.in@gmail.com</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="info-item" role="button" tabindex="0">
                        <fa-icon [icon]="faGlobe" class="info-icon"></fa-icon>
                        <div class="info-content">
                            <div class="info-label">Website</div>
                            <div class="info-value">
                                <a href="http://tidc.tripura.gov.in" target="_blank">tidc.tripura.gov.in</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="map-card">
                <div class="map-card-header">Tripura Industrial Development Corporation</div>
                <iframe 
                    class="map-embed"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3651.445191051975!2d91.28143091498762!3d23.86276008455107!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3753f6ae5ad8c9ff%3A0x6307a5ab69f6e7d6!2sTripura%20Industrial%20Development%20Corporation%20Limited!5e0!3m2!1sen!2sin"
                    allowfullscreen="" 
                    loading="lazy" 
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </div>
        
        <div>
            <div class="contact-card secondary">
                <div class="card-header">
                    <div class="card-icon secondary">
                        <img src="assets/govt.India-logo2.png" alt="Directorate of Industries & Commerce Government of Tripura logo">
                    </div>
                    <div>
                        <h2 class="card-title">Directorate of Industries & Commerce</h2>
                        <p class="card-subtitle">Government of Tripura</p>
                    </div>
                </div>
                
                <div class="contact-info">
                    <div class="info-item secondary" (click)="copyToClipboard('Government of Tripura Directorate of Industries & Commerce, Khejurbagan, Agartala, Tripura, 799006')" role="button" tabindex="0" (keydown)="handleKeydown($event, 'Government of Tripura Directorate of Industries & Commerce, Khejurbagan, Agartala, Tripura, 799006')">
                        <fa-icon [icon]="faLocationDot" class="info-icon"></fa-icon>
                        <div class="info-content">
                            <div class="info-label">Address</div>
                            <div class="info-value">
                                Government of Tripura Directorate of Industries & Commerce<br>
                                Khejurbagan, Agartala, Tripura, 799006
                            </div>
                        </div>
                    </div>
                    
                    <div class="info-item secondary" (click)="copyToClipboard('0381-2411021')" role="button" tabindex="0" (keydown)="handleKeydown($event, '0381-2411021')">
                        <fa-icon [icon]="faPhone" class="info-icon"></fa-icon>
                        <div class="info-content">
                            <div class="info-label">Phone Number</div>
                            <div class="info-value">
                                <a href="tel:0381-2411021">0381 241 1021</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="info-item secondary" (click)="copyToClipboard('0381 241 1021')" role="button" tabindex="0" (keydown)="handleKeydown($event, '0381 241 1021')">
                        <fa-icon [icon]="faFax" class="info-icon"></fa-icon>
                        <div class="info-content">
                            <div class="info-label">Telephone</div>
                            <div class="info-value">0381 241 1021</div>
                        </div>
                    </div>
                    
                    <div class="info-item secondary" (click)="copyToClipboard('industrytripura@gmail.com')" role="button" tabindex="0" (keydown)="handleKeydown($event, 'industrytripura@gmail.com')">
                        <fa-icon [icon]="faEnvelope" class="info-icon"></fa-icon>
                        <div class="info-content">
                            <div class="info-label">Email</div>
                            <div class="info-value">
                                <a href="mailto:industrytripura@gmail.com">industrytripura@gmail.com</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="info-item secondary" role="button" tabindex="0">
                        <fa-icon [icon]="faGlobe" class="info-icon"></fa-icon>
                        <div class="info-content">
                            <div class="info-label">Website</div>
                            <div class="info-value">
                                <a href="http://industries.tripura.gov.in" target="_blank">industries.tripura.gov.in</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="map-card">
                <div class="map-card-header secondary">Directorate of Industries & Commerce</div>
                <iframe 
                    class="map-embed"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3651.445191051975!2d91.28143091498762!3d23.8627322!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3753f6ae51811c5d%3A0xe63fc5041d598ebe!2sGovernment%20Of%20Tripura%20Directorate%20Of%20Industries%20%26%20Commerce!5e0!3m2!1sen!2sin"
                    allowfullscreen="" 
                    loading="lazy" 
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </div>
    </div>
</div>

<div *ngIf="showNotification" id="copy-notification" class="copy-notification" role="alert">
    Copied to clipboard!
</div>