<div class="dashboard-page">
  <div class="dashboard-header">
    <p class="subtitle">Welcome to the</p>
    <h1>Dashboard</h1>
  </div>

  <!-- Summary Cards Section -->
  <section class="dashboard-section">
    <app-summary-cards></app-summary-cards>
  </section>

  <!-- Charts Section -->
  <section class="dashboard-section charts-section">
    <!-- <div class="charts-grid">
      <div class="chart-item">
        <app-bar-chart></app-bar-chart>

      </div>
      <div class="chart-item">
        <app-pie-chart></app-pie-chart>
      </div>
    </div> -->
    <app-line-chart></app-line-chart>
  </section>

  <section class="dashboard-section charts-section">
    <div class="table-h">
    <p class="" >  Clarification Raised </p>
    <app-dynamic-table [data]="clarification_required" [columns]="columns" [searchable]="false" [showPagination]="true"
        [pageSize]="5"></app-dynamic-table>
    </div>
  </section>
  <section class="dashboard-section charts-section">
    <div class="table-h">
    <p class="" >  Pending Payment</p>
    <app-dynamic-table  [searchable]="false" [showPagination]="true"
        [pageSize]="5"></app-dynamic-table>
    </div>
  </section>

 

</div>
