<div class="swgt-container">
  <div>
    <h1 class="page-head">List All Services</h1>
  </div>

  <!-- Filter Dropdown -->
 

  <!-- Dynamic Table with Filtering -->
  <app-dynamic-table
    [data]="ApplicationData"
    [columns]="ApplicationColumns"
    [searchable]="true"
    [pageSize]="5"
    [showPagination]="true"
    (rowAction)="handleRowAction($event)"
    [filterColumnKey]="'noc_type'"
    [filterOptions]="filterOptions"
    [selectedFilterValue]="selectedNocType"
    fieldLabel="Filter by NOC Type"
  >
  </app-dynamic-table>
</div>