<div class="swgt-container">

  @if (isLoading) {
  <app-loader></app-loader>
  }@else{
  <!-- <div class="page-header d-flex justify-content-between align-items-center "> -->

  <div>
    <h1 class="page-head">All Services</h1>
  </div>

  <div class="row-filter">
    <!-- Department Filter -->
    <app-ilogi-select [selectOptions]="departmentOptions" [(ngModel)]="selectedDepartment"
      (ngModelChange)="applyFilters()" fieldLabel="Filter by Department" placeholder="Select Department">
    </app-ilogi-select>

    <!-- NOC Type Filter -->
    <app-ilogi-select [selectOptions]="nocTypeOptions" [(ngModel)]="selectedNocType" (ngModelChange)="applyFilters()"
      fieldLabel="Filter by NOC Type" placeholder="Select NOC Type">
    </app-ilogi-select>
  </div>
  <!-- </div> -->
  <app-dynamic-table [data]="ApplicationData" [columns]="ApplicationColumns" [searchable]="true" [pageSize]="5"
    [showPagination]="true" (rowAction)="handleRowAction($event)">
  </app-dynamic-table>
  }
</div>