<div class="applications-container">
    <h2 class="page-head">Applications</h2>
    <div *ngIf="isLoading" class="text-center">
        🔍 Loading applications...
    </div>
    <div *ngIf="!isLoading && columns.length === 0 && applications.length === 0" class="text-center text-muted">
        <p>No pending applications found.</p>
    </div>
    <form [formGroup]="remarkForm">
        <div class="filters-row">
            <div class="search-wrapper">
                <span class="search-icon">🔍</span>
                <input type="text" placeholder="Search by Applicant Name or Phone No." formControlName="search"
                    class="search-input" />
            </div>
            <app-ilogi-input-date formControlName="start_date" class="mb-3" fieldLabel="Start Date" fieldId="start_date" [mandatory]="false" [readonly]="false"></app-ilogi-input-date>
            <app-ilogi-input-date class="mb-3" fieldLabel="End Date" formControlName="end_date" fieldId="end_date" [mandatory]="false" [readonly]="false"></app-ilogi-input-date>
            <app-ilogi-select fieldId="service_id" [fieldLabel]="'Services'" [enableSearch]="true" formControlName="service_id" [selectOptions]="services" placeholder="Select Service"></app-ilogi-select>
            <!-- <app-ilogi-select fieldId="district_id" fieldLabel="District" formControlName="district_id"
                [selectOptions]="districts" placeholder="Select district"
                class="filter-select dropdown-fix"></app-ilogi-select>
            <app-ilogi-select fieldId="subdivision_id" fieldLabel="Subdivision" formControlName="subdivision_id"
                [selectOptions]="subdivisions" placeholder="Select subdivision" class="filter-select dropdown-fix"
                [disabled]="!districts.length || loadingDistricts"></app-ilogi-select> -->

            <!-- <app-ilogi-select fieldId="hierarchy_level" fieldLabel="Hierarchy Level" formControlName="hierarchy_level"
                [selectOptions]="hierarchyLevels" placeholder="Select hierarchy level"
                class="filter-select dropdown-fix"></app-ilogi-select>

            <app-ilogi-select fieldId="current_status" fieldLabel="Current Status" formControlName="current_status"
                [selectOptions]="statusOptions" placeholder="Select Current Status"
                class="filter-select dropdown-fix"></app-ilogi-select> -->
            <!-- <button type="button" class="btn btn-secondary" (click)="downloadExcel()">Download Excel</button> -->
        </div>
    </form>
    <div class="table-wrapper">
        <app-dynamic-table *ngIf="!isLoading && columns.length > 0" [columns]="columns" [data]="filteredApplications"
            [pageSize]="10" [showPagination]="true" [searchable]="false">
        </app-dynamic-table>
    </div>
</div>