.applications-container,
.table-wrapper {
  position: relative;
  overflow: visible;
}

.dropdown-fix {
  position: relative;
  z-index: 9999;
}

.filters-row {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
  overflow: visible;
  position: relative;
  z-index: 20;
}

.dropdown-fix {
  position: relative;
  z-index: 9999 !important;
}

.applications-container app-dynamic-table {
  position: relative;
  z-index: 1;
}

.search-wrapper {
  position: relative;
  flex: 1 1 280px;
  margin-top: 20px;
  min-width: 250px;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #777;
  pointer-events: none;
}

.search-input {
  width: 100%;
  padding: 10px 14px 10px 40px;
  border: 1px solid #ddd;
  border-radius: 50px;
  background: #fff;
  color: black;
  font-size: 0.95rem;
  transition: all 0.3s ease;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
}

.search-input:focus {
  outline: none;
  border-color: #4a90e2;
  box-shadow: 0 0 8px rgba(74, 144, 226, 0.3);
}
.mb-3 {
  margin-bottom: 5px !important
}