<section id="footer" class="footer">
  <div class="container">
    <div class="row text-center text-sm-start">
      <div class="col-12 col-sm-4 mb-4" *ngFor="let column of [1,2,3]">
        <h5>Quick Links</h5>
        <ul class="list-unstyled quick-links">
          <li><a href="#"><i class="bi bi-chevron-double-right"></i>Home</a></li>
          <li><a href="#"><i class="bi bi-chevron-double-right"></i>About</a></li>
          <li><a href="#"><i class="bi bi-chevron-double-right"></i>FAQ</a></li>
          <li><a href="#"><i class="bi bi-chevron-double-right"></i>Get Started</a></li>
          <li><a href="#"><i class="bi bi-chevron-double-right"></i>Videos</a></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-12 mt-4 mt-sm-5">
        <ul class="list-unstyled list-inline social text-center">
          <li class="list-inline-item"><a href="#"><i class="bi bi-facebook"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="bi bi-twitter-x"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="bi bi-instagram"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="bi bi-google"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="bi bi-envelope"></i></a></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-12 mt-2 text-center">
        <p>
          <u><a href="#">National Transaction Corporation</a></u> is a
          Registered MSP/ISO of Elavon, Inc. Georgia.
        </p>
        <p class="h6">
          © All rights reserved. <a class="ml-2" href="#" target="_blank">Sunlimetech</a>
        </p>
      </div>
    </div>
  </div>
</section>
