section {
  padding: 60px 0;

  .section-title {
    text-align: center;
    color: #023d5b;
    margin-bottom: 50px;
    text-transform: uppercase;
  }
}

#footer {
  background: #023d5b !important;
  color: #ffffff;

  h5 {
    padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color: #ffffff;
  }

  a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
  }

  ul.social {
    li {
      padding: 3px 0;

      a {
        i {
          margin-right: 5px;
          font-size: 25px;
          transition: .5s all ease;
        }

        &:hover {
          i {
            font-size: 30px;
            margin-top: -10px;
          }
          color: #eeeeee;
        }
      }
    }
  }

  ul.quick-links {
    li {
      padding: 3px 0;
      transition: .5s all ease;

      a {
        i {
          margin-right: 5px;
        }
      }

      &:hover {
        margin-left: 5px;
        font-weight: 700;

        a {
          i {
            font-weight: 700;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  #footer {
    h5 {
      padding-left: 0;
      border-left: transparent;
      padding-bottom: 0px;
      margin-bottom: 10px;
    }
  }
}